node_modules/
__pycache__/
*.pyc
.env
dist/
.venv/
venv/
frontend/node_modules/
frontend/build/
services/auth-service/.env
services/admin-service/.env
services/video-service/.env
services/watchlist-service/.env
services/notification-service/.env
services/payment-service/.env
services/report-service/.env
services/user-service/.env
services/video-service/.env
services/watchlist-service/.env
services/notification-service/.env
services/payment-service/.env